.background {
}

#BackgroundColor {
    height: 500;
    width: 500;
    fill: 'red';
}

#BackgroundImage {

}

#TimeText {
  font-family: System-Bold;
  text-length: 32;
}

.smallCornerClock {
    font-size: 24;
    position: absolute;
    top: 0px;
    right: 0px;
}
